<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @unidad_medida.empresa_id %>
</p>

<p>
  <strong>Medida:</strong>
  <%= @unidad_medida.medida_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @unidad_medida.nombre %>
</p>

<p>
  <strong>Abreviatura:</strong>
  <%= @unidad_medida.abreviatura %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @unidad_medida.descripcion %>
</p>

<p>
  <strong>User created:</strong>
  <%= @unidad_medida.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @unidad_medida.user_updated_id %>
</p>

<p>
  <strong>Usr grab:</strong>
  <%= @unidad_medida.usr_grab %>
</p>

<p>
  <strong>Usr modi:</strong>
  <%= @unidad_medida.usr_modi %>
</p>

<%= link_to 'Edit', edit_unidad_medida_path(@unidad_medida) %> |
<%= link_to 'Back', unidad_medidas_path %>
