<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @datos_api.nombre %>
</p>

<p>
  <strong>Url api:</strong>
  <%= @datos_api.url_api %>
</p>

<p>
  <strong>Token:</strong>
  <%= @datos_api.token %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @datos_api.estado %>
</p>

<p>
  <strong>User created:</strong>
  <%= @datos_api.user_created_id %>
</p>

<p>
  <strong>User update:</strong>
  <%= @datos_api.user_updated_id %>
</p>

<%= link_to 'Edit', edit_datos_api_path(@datos_api) %> |
<%= link_to 'Back', datos_apis_path %>
