<!-- Inicio menus -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6 table-responsive-sm text-left mt-2">
        <h5 class="m-0 font-weight-bold text-primary">Gestión de Menús</h5>
      </div>
      <div class="col-md-6 table-responsive-sm text-right">
        <% if tiene_permiso("BOTON NUEVO REGISTRO", "VER") %>
          <%= link_to new_menu_path, class: "btn btn-success btn-sm mt-2" do %>
            <span class="icon text-green-50">
                <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">AGREGAR</span>
          <% end %>
        <% end %>
        <%= link_to root_path, class: "btn btn-danger btn-sm mt-2" do %>
          <span class="icon text-red-50">
              <i class="fas fa-home"></i>
          </span>
          <span class="text">INICIO</span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 table-responsive-sm">
        <table id="datatable_menus" class="table table-hover table-sm table-bordered display" width="100%" cellpadding="0" cellspacing="0">
          <thead class="thead-light">
            <tr>
              <th class="text-center"> id </th>
              <th> Icono </th>
              <th> Nombre </th>
              <th> Nombre Sidebar</th>
              <th> Descripción </th>
              <th class="text-center"> Estado </th>
              <% if tiene_permiso("BOTON EDITAR REGISTRO", "VER") %>
              <th class="text-center"></th>
              <% end %>
              <% if tiene_permiso("BOTON ACTIVAR/INACTIVAR REGISTRO", "VER") %>
              <th class="text-center"></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @menus.each do |menu| %>
              <tr>
                <td class="text-center"><%= menu.id %></td>
                <td class="text-center"><i class="<%= menu.icono %>" aria-hidden="true"></i></td>
                <td><%= menu.nombre %></td>
                <td><%= menu.menu_sidebar %></td>
                <td><%= menu.descripcion %></td>
                <td class="text-center"><%= format_estado(menu.estado) %></td>
                <% if tiene_permiso("BOTON EDITAR REGISTRO", "VER") %>
                <td class="text-center">
                  <% if menu.estado == "A" %>
                    <%= link_to edit_menu_path(menu), class: "btn btn-outline-info btn-sm " do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                  <% end %>
                </td>
                <% end %>
                <% if tiene_permiso("BOTON ACTIVAR/INACTIVAR REGISTRO", "VER") %>
                <td class="text-center">
                  <% if menu.estado == "A" %>
                    <%= link_to  inactivar_menu_path(:id => menu.id), 
                        class: "btn btn-outline-danger btn-sm btn_status_menu", 
                        data: { status: "Inactivar", nombre: "#{menu.nombre}" },
                        "data-custom-class": "popover-danger", title: "INACTIVAR", "data-content": "#{menu.id} | #{menu.nombre.capitalize}" do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  <% else %>
                    <%= link_to  activar_menu_path(:id => menu.id), 
                        class: "btn btn-outline-success btn-sm btn_status_menu", 
                        data: { status: "Activar", nombre: "#{menu.nombre}" },
                        "data-custom-class": "popover-success", title: "ACTIVAR", "data-content": "#{menu.id} | #{menu.nombre.capitalize}" do %>
                      <i class="fas fa-trash-restore-alt"></i>
                    <% end %>
                  <% end %>
                </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
