<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-lg modal-login">
    <div class="modal-content">
      <%= simple_form_for :set_password_change, :url => {:controller => "home", :action => "cambio_password_user"}, remote: true, defaults: { wrapper: :inline_field12 } do |f| %>
        <div class="modal-header modal-header-success">
          <div class="col-12 text-left">
            <h5 class="modal-title" id="myModalLabel">Cambio De Contraseña</h5>
          </div>
        </div>
        <div class="modal-body">
          <div id="flash-messages">
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4 mb-3 mt-3" style="display: flex; align-items: center; justify-content: center;">
                  <%= image_tag("Password.png", height: '100', width: '') %>
                </div>
                <div class="col-md-8">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 text-left mt-2 mb-2">
                          <%= f.label "Contraseña Actual:", for: "PasswordActual" %>
                          <div class="input-group">
                            <%= f.password_field :password_actual, class: "form-control form-control-user", required: true, placeholder: "Ingresa tu contraseña actual", id: "PasswordActual" %>
                            <div class="input-group-append">
                              <button id="BtnPasswordActual" class="btn btn-success" type="button"> <span class="fa fa-eye icon"></span> </button>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 text-left mb-2 mt-2">
                          <%= f.label "Nueva Contraseña:*", for: "CambioNuevoPassword" %>
                          <div class="input-group">
                            <%= f.password_field :password_nueva, minlength: "8", class: "form-control form-control-user", required: true, placeholder: "Minimo 8 caracteres", id: "CambioNuevoPassword" %>
                            <div class="input-group-append">
                              <button id="BtnCambioNuevoPassword" class="btn btn-success" type="button"> <span class="fa fa-eye icon"></span> </button>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 text-left mt-2 mb-2">
                          <%= f.label "Confirmar Contraseña:", for: "ConfirmaCambioNuevoPassword" %>
                          <div class="input-group">
                            <%= f.password_field :password_confirmada, minlength: "8", class: "form-control form-control-user", required: true, placeholder: "Minimo 8 caracteres", id: "ConfirmaCambioNuevoPassword" %>
                            <div class="input-group-append">
                              <button id="BtnConfirmaCambioNuevoPassword" class="btn btn-success" type="button"> <span class="fa fa-eye icon"></span> </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= button_tag f.submit, class: "btn btn-success btn-sm" do %>
            <span class="icon text-50">
              <i class="fas fa-edit"></i>
            </span>
            <span class="text">REGISTRAR</span>
          <%end%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#myModal').modal({backdrop: 'static', keyboard: true, show: true
    });
    // Agregar controlador de eventos a los campos de entrada
    $('input').keydown(function(event) {
        if (event.keyCode === 27) {
            event.stopPropagation(); // Evitar que el evento llegue al modal
        }
    });

    $('#BtnPasswordActual').on('click', function (e) {
    var cambio = document.getElementById("PasswordActual");
    var icono = $(this).find(".icon");
    if (cambio.type === "password") {
      cambio.type = "text";
      icono.removeClass("fa-eye").addClass("fa-eye-slash");
    } else {
      cambio.type = "password";
      icono.removeClass("fa-eye-slash").addClass("fa-eye");

    }
    });
    $('#BtnCambioNuevoPassword').on('click', function (e) {
      var cambio = document.getElementById("CambioNuevoPassword");
      var icono = $(this).find(".icon");
     if (cambio.type === "password") {
        cambio.type = "text";
        icono.removeClass("fa-eye").addClass("fa-eye-slash");
      } else {
        cambio.type = "password";
        icono.removeClass("fa-eye-slash").addClass("fa-eye");

      }
    });

    $('#BtnConfirmaCambioNuevoPassword').on('click', function (e) {
      var cambio = document.getElementById("ConfirmaCambioNuevoPassword");
      var icono = $(this).find(".icon");
      if (cambio.type === "password") {
        cambio.type = "text";
        icono.removeClass("fa-eye").addClass("fa-eye-slash");
      } else {
        cambio.type = "password";
        icono.removeClass("fa-eye-slash").addClass("fa-eye");

      }
    });
  });
</script>
