
<%= simple_form_for(@config_formulario) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% 
    if titulo_cfg_formulario.upcase == 'ACTUALIZAR' 
      @estado_campo = true
  %>
      <%= f.hidden_field :empresa_id, value: f.object.empresa_id %>
      <%= f.hidden_field :area_id, value: f.object.area_id %>
      <%= f.hidden_field :tipo_formulario_id, value: f.object.tipo_formulario_id %>
      <%= f.hidden_field :documento_iso_id, value: f.object.documento_iso_id %>
  <%
    else  
      @estado_campo = false
    end 
  %>

  <div class="card shadow">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md text-left mt-2">
          <h5 class="m-0 font-weight-bold text-primary">Configuración</h5>
        </div>
        <div class="col-md text-right">
          <%= link_to config_formularios_path, class: "btn btn-primary btn-sm mt-2" do %>
            <span class="icon text-red-50">
              <i class="fas fa-arrow-circle-left"></i>
            </span>
            <span class="text">REGRESAR</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-inputs">
            <!-- INICIO DE LA CONFIGURACIÓN DEL FORMULARIO -->
            <!-- VARIABLE UNICA CONFIGURACIÓN DE FORMULARIO -->
            <% unique_config_form_id = "config_form_#{f.object_id}" %>

            <div class="card-header py-0" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="cardBody<%= unique_config_form_id %>" href="#cardBody<%= unique_config_form_id %>" style="cursor: pointer; border-radius: 0px; padding: 0px;">
              <%= content_tag(:h5, 'Formulario', class: 'text-left font-weight-bold text-primary', style: "padding-left: 20px; padding-top: 10px;" ) %>
            </div>
            <div class="card-body collapse show" id="cardBody<%= unique_config_form_id %>" style="padding: 0px; padding-top: 0px;">
              <div class="card shadow">
                <div class="col-md-12 mt-3">
                  <div class="row">
                    <div class="col-md">
                      <%= f.input :empresa_id, label: "<strong>Empresa</strong>".html_safe, collection: @listado_empresa, value_method: :id_empresa, label_method: :codigo_descripcion_empresa, include_blank: "Seleccione una empresa", input_html: { class: "select2", id: 'empresa_id_cfgForm', 'data-endpoint': search_empresa_config_formularios_path, disabled: @estado_campo }, required: true %>
                    </div>
                    <div class="col-md">
                      <%= f.input :area_id, label: "<strong>Área de Negocio</strong>".html_safe, collection: @listado_area, value_method: :id_area, label_method: :codigo_descripcion_area, include_blank: "Seleccione un área de negocio", input_html: { class: "select2", id: 'area_id_cfgForm', 'data-endpoint': search_area_config_formularios_path, disabled: @estado_campo }, required: true %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <%= f.association :tipo_formulario, label: "<strong>Tipo de Formulario</strong>".html_safe, collection: @listado_tipo_formulario, value_method: :id, label_method: :codigo_nombre_tipo_form, include_blank: "Seleccione el tipo de formulario", input_html: { class: "select2", id: 'tipo_formulario_id_cfgForm', 'data-endpoint': search_tipo_form_config_formularios_path, disabled: @estado_campo }, required: true %>
                    </div>
                    <div class="col-md-2 text-center">
                      <%= f.label :tiene_app_siga, label: "<strong>¿Tiene AppSiga?</strong>".html_safe %>
                      <%= f.input :tiene_app_siga, as: :boolean, label: false, input_html: { class: 'form-check-input', id: 'tiene_siga_cfgForm', data: {toggle: 'toggle'} } %>
                    </div>
                    <div class="col-md-5">
                      <%= f.input :labor_id, label: "<strong>Labor Oracle</strong>".html_safe, collection: @listado_labor, value_method: :id_labor, label_method: :codigo_descripcion_labor, include_blank: "Seleccione la labor oracle", input_html: { class: "select2", id: 'labor_id_cfgForm' }, required: false %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md">
                      <%= f.input :nombre, label: "<strong>Nombre Formulario</strong>".html_safe %>
                    </div>
                    <div class="col-md">
                      <%= f.input :documento_iso_id, label: "<strong>Documento ISO</strong>".html_safe, collection: @listado_documento_iso, value_method: :id, label_method: :codigo_descripcion_documento, include_blank: "Seleccione documento ISO", input_html: { class: "select2", id: 'documento_iso_id_cfgForm', disabled: @estado_campo }, required: true %>
                    </div>
                  </div>
                  <%= f.input :descripcion, as: :text, label: "<strong>Descripción General</strong>".html_safe, input_html: {rows: 3} %>
                </div>
              </div>
            </div>
            <br>
            <!-- FIN DE LA CONFIGURACIÓN DEL FORMULARIO -->

            <!-- INICIO DE LA CONFIGURACION DE LAS PREGUNTAS PARA EL FORMULARIO -->
            <!-- VARIABLE UNICA CONFIGURACIÓN DE PREGUNTA -->
            <% unique_config_pregunta_id = "config_form_preg_#{f.object_id}" %>

            <div class="card-header py-0" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="cardBody<%= unique_config_pregunta_id %>" href="#cardBody<%= unique_config_pregunta_id %>" style="cursor: pointer; border-radius: 0px; padding: 0px;">
              <%= content_tag(:h5, 'Preguntas', class: 'text-left font-weight-bold text-primary', style: "padding-left: 20px; padding-top: 10px;" ) %>
            </div>
            <div class="card-body collapse show" id="cardBody<%= unique_config_pregunta_id %>" style="padding: 0px; padding-top: 0px;">
              <div class="card shadow mb-12">
                <div class="col-md-12 table-responsive-sm">
                  <br>
                  <table class="table custom-table table-sm" id="<%= unique_config_pregunta_id %>" width="100%" cellpadding="0" cellspacing="0">
                    <thead class="thead-light">
                      <tr>
                        <th class="text-center">Instrucción de la Pregunta</th>
                        <th class="text-center">Sub Pregunta</th>
                        <th class="text-center">Unidad Medida</th>
                        <th class="text-center">Requerido</th>
                        <th class="text-center">Orden</th>
                        <th class="text-center"></th>
                      </tr>  
                    </thead>
                    <tbody>
                      <% f.object.config_formulario_preguntas.where(estado: 'A').order("config_formulario_preguntas.posicion").each do |config_formulario_pregunta_activos| %>
                        <%= f.simple_fields_for :config_formulario_preguntas, config_formulario_pregunta_activos do |cfg_for_preg| %>
                          <%= render 'config_formulario_pregunta_fields', f: cfg_for_preg %>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                  <br>
                  <div class="row">
                    <div class="col">
                      <div class="text-right">
                        <%= link_to_add_association "<span><i class='fas fa-plus-circle'></i> Agregar Pregunta</span>".html_safe, f, :config_formulario_preguntas, data: {"association-insertion-node" => "##{unique_config_pregunta_id} tbody", "association-insertion-method" => "append"}, class: "btn btn-primary" %>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
            <!-- FIN DE LA CONFIGURACION DE LAS PREGUNTAS PARA EL FORMULARIO -->
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer shadow bg-transparent" style="background-color: #efefef !important;">
      <div class="col-md-12 text-center">
        <%= link_to config_formularios_url, class: "btn btn-danger btn-sm mt-2" do %>
          <span class="icon text-red-50">
            <i class="fas fa-arrow-circle-left"></i>
          </span>
          <span class="text">CANCELAR</span>
        <% end %>
  
        <% if tiene_permiso("BOTON REGISTRAR", "VER") %>
          <%= button_tag f.submit, 
              class: "btn btn-success btn-sm mt-2 btn_event_config_formulario", 
              data: { evento: "#{titulo_cfg_formulario}", nombre: "#{@config_formulario.nombre}" } do %>
            <span class="text"><%= titulo_cfg_formulario.upcase %></span>
            <span class="icon text-green-50">
              <i class="fas fa-edit"></i>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    if ($('#empresa_id_cfgForm').val() == "") {
      seleccionarEmpresa('#empresa_id_cfgForm', <%= @empresa_session_area %>, "<%= @nombre_empresa_session_area.descripcion %>");
    }
  });
</script>
