<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @config_formulario.empresa_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @config_formulario.area_id %>
</p>

<p>
  <strong>Tipo formulario:</strong>
  <%= @config_formulario.tipo_formulario_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @config_formulario.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @config_formulario.descripcion %>
</p>

<p>
  <strong>Tiene app siga:</strong>
  <%= @config_formulario.tiene_app_siga %>
</p>

<p>
  <strong>Labor:</strong>
  <%= @config_formulario.labor_id %>
</p>

<p>
  <strong>Documento iso:</strong>
  <%= @config_formulario.documento_iso_id %>
</p>

<p>
  <strong>User created:</strong>
  <%= @config_formulario.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @config_formulario.user_updated_id %>
</p>

<p>
  <strong>Usr grab:</strong>
  <%= @config_formulario.usr_grab %>
</p>

<p>
  <strong>Usr modi:</strong>
  <%= @config_formulario.usr_modi %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @config_formulario.estado %>
</p>

<%= link_to 'Edit', edit_config_formulario_path(@config_formulario) %> |
<%= link_to 'Back', config_formularios_path %>
