<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @config_formulario_pregunta.empresa_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @config_formulario_pregunta.area_id %>
</p>

<p>
  <strong>Config formulario:</strong>
  <%= @config_formulario_pregunta.config_formulario_id %>
</p>

<p>
  <strong>Config pregunta:</strong>
  <%= @config_formulario_pregunta.config_pregunta_id %>
</p>

<p>
  <strong>Config sub pregunta:</strong>
  <%= @config_formulario_pregunta.config_sub_pregunta_id %>
</p>

<p>
  <strong>Unidad medida:</strong>
  <%= @config_formulario_pregunta.unidad_medida_id %>
</p>

<p>
  <strong>Requerido:</strong>
  <%= @config_formulario_pregunta.requerido %>
</p>

<p>
  <strong>Posicion:</strong>
  <%= @config_formulario_pregunta.posicion %>
</p>

<p>
  <strong>User created:</strong>
  <%= @config_formulario_pregunta.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @config_formulario_pregunta.user_updated_id %>
</p>

<p>
  <strong>Usr grab:</strong>
  <%= @config_formulario_pregunta.usr_grab %>
</p>

<p>
  <strong>Usr modi:</strong>
  <%= @config_formulario_pregunta.usr_modi %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @config_formulario_pregunta.estado %>
</p>

<%= link_to 'Edit', edit_config_formulario_pregunta_path(@config_formulario_pregunta) %> |
<%= link_to 'Back', config_formulario_preguntas_path %>
