<!-- Inicio opciones-componentes-atributos -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Agregar Permisos</h6>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <%= simple_form_for :add_permisos, :url => {:controller => "persona_empresa_formularios", :action => "guardar_permisos"}, defaults: { wrapper: :inline_field6 }  do |f| %>
                <div class="row">
                    <%= f.input :nombre_usuario, required: false, input_html: {value: @persona.nombre_completo_con_email, disabled: true} %>
                    <%= f.hidden_field :persona_id, :value => @persona.id %>
                    <%= f.input :area_id, required: false, input_html: {value: @area.nombre_area_empresa, disabled: true} %>
                </div>
                <br/>

                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Nivel de Permisos</legend>
                  <div class="col-sm-4">
                    <div class="form-check">
                      <%= f.collection_radio_buttons :options, [[0, ' PERFIL '], [1, ' OPCION INDIVIDUAL ']], :first, :last, {}, required: true do |b| %>
                        <div class="radio">
                            <%= b.label do %>
                            <%= b.radio_button + b.text %>
                            <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <%= f.input :perfil_id, collection: Rol.all, label_method: :nombre, value_method: :id, label: "Perfiles", required: false,  include_blank: "Seleccione un Perfil", input_html: {class: "select2 select2-perfil"}   %>
                  <%= f.input :opcion_id, collection: Menu.all, as: :grouped_select, group_method: :opciones, group_label_method: :nombre, label_method: :nombre, value_method: :id, label: "Formulario Individual", required: false,  include_blank: "Seleccione una Formulario", input_html: {class: "select2 select2-individual"} %>
                </div>

                <div class="row">
                  <div id="divOpciones" style="padding 10px" class="col-md-12">
                    <hr>
                    <center>
                      <h3>- PERMISOS POR FORMULARIO - </h3>
                      <hr>
                    </center>
                    <div class="row" id="rowFormularios">
                    </div>
                  </div>
                </div>
                <br>
              
                <div class="row">
                  <div class="col-md-12 text-center">
                    <%= link_to mostrar_permisos_path(@persona.id), class: "btn btn-danger btn-sm mt-2" do %>
                      <span class="icon text-red-50">
                        <i class="fa fa-arrow-circle-left"></i>
                      </span>
                      <span class="text">REGRESAR</span>
                    <% end %>
                    <% if tiene_permiso("BOTON REGISTRAR", "VER") %>
                      <%= button_tag f.submit, :class => "btn btn-success btn-sm mt-2" do %>
                        <span class="text">REGISTRAR</span>
                        <span class="icon text-50">
                        <i class="fas fa-plus-circle"></i>
                        </span>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="path_opciones_perfil" data-endpoint="<%= obtener_opciones_por_perfil_path %>">
<div class="path_opciones_individual" data-endpoint="<%= obtener_opciones_por_individual_path %>">