<p id="notice"><%= notice %></p>

<p>
  <strong>Datos externo:</strong>
  <%= @detalle_datos_externo.datos_externo_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @detalle_datos_externo.nombre %>
</p>

<p>
  <strong>Param1:</strong>
  <%= @detalle_datos_externo.param1 %>
</p>

<p>
  <strong>Param2:</strong>
  <%= @detalle_datos_externo.param2 %>
</p>

<p>
  <strong>Param3:</strong>
  <%= @detalle_datos_externo.param3 %>
</p>

<p>
  <strong>Param4:</strong>
  <%= @detalle_datos_externo.param4 %>
</p>

<p>
  <strong>Param5:</strong>
  <%= @detalle_datos_externo.param5 %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @detalle_datos_externo.tipo %>
</p>

<p>
  <strong>Body:</strong>
  <%= @detalle_datos_externo.body %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @detalle_datos_externo.estado %>
</p>

<p>
  <strong>User create:</strong>
  <%= @detalle_datos_externo.user_created_id %>
</p>

<p>
  <strong>User update:</strong>
  <%= @detalle_datos_externo.user_updated_id %>
</p>

<%= link_to 'Edit', edit_detalle_datos_externo_path(@detalle_datos_externo) %> |
<%= link_to 'Back', detalle_datos_externos_path %>
